.container {
    padding: 10px 50px;
}

.box {
    display: flex;
    gap: 16px;
    max-width: 1090px;
    padding-bottom: 12px;
    padding-left: 20px;
    border: 2px solid #ccc8c8;
    border-radius: 10px;
}

.poster {
    width: 240px;
    height: 320px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.boxData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.listGenres {
    display: flex;
    list-style: none;
    gap: 10px;
}

.list {
    list-style: none;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.link {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    width: 80px;
}

.link:hover,
:focus {
    color: #ffffff;
    background-color: #a8a8ee;
}